.container{
  margin: auto;
  width: 50%;
  padding: 10px;
}

.flex-container-form {
  display: flex;
  background-color: #dddddd;
  padding: 20px;
  justify-content: center;
}

.flex-container-filter {
  display: flex;
  background-color: #161515;
  padding: 10px;
  color: white;
}

.flex-container-tareas{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  border: 1px solid black;
}
.tomato{
   background-color: #eb7965; 
}
.skyblue{
    background-color: #a0bdec; 
} 
.green{
   background-color: #a0ecb0;  
}